//Helper class
.bg-grey {
  background-color: $grey-color;
}

.full-width {
  width: 100%;
}

.button1 {
  background: $btn1-color;
  border: 0;
  border-radius: 25px;
  box-shadow: $btn1-shadow;
  box-sizing: border-box;
  color: $white-color;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin: 0 .3em .3em 0;
  padding: $btn-padding;
  text-align: center;
  text-decoration: none;
  transition: .2s;

  &:hover {
    background: linear-gradient(lighten($secondary, 5), lighten($primary, 5));
    box-shadow: $btn1-shadow-hover;
  }

  &a {
    color: $white-color;
  }
}
