@import "_variables";

@keyframes check-box {
  0% {
    transform: rotate(-90deg);
  }
  40% {
    transform: rotate(-55deg);
  }
  70% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

@keyframes caption-check-box {
  0% {
    opacity: 0.4;
    transform: translate(15px, 0px);
  }
  40% {
    opacity: 0.6;
    transform: translate(10px, 0px);
  }
  70% {
    opacity: 0.8;
    transform: translate(6px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(1px, 0px);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loadspinner {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@-webkit-keyframes spinner {
  0% {
    transform: rotate(0deg);
    background: lighten($secondary, 10);
  }
  50% {
    transform: rotate(180deg);
    background: $secondary;
  }
  100% {
    transform: rotate(360deg);
    background: lighten($secondary, 10);
  }
}

