@import 'variables';

@keyframes check-box {
  0% {
    transform: rotate(-90deg);
  }

  40% {
    transform: rotate(-55deg);
  }

  70% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes caption-check-box {
  0% {
    opacity: .4;
    transform: translate(15px, 0);
  }

  40% {
    opacity: .6;
    transform: translate(10px, 0);
  }

  70% {
    opacity: .8;
    transform: translate(6px, 0);
  }

  100% {
    opacity: 1;
    transform: translate(1px, 0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes loadspinner {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes spinner {
  0% {
    background: lighten($secondary, 10);
    transform: rotate(0deg);
  }

  50% {
    background: $secondary;
    transform: rotate(180deg);
  }

  100% {
    background: lighten($secondary, 10);
    transform: rotate(360deg);
  }
}

