//Colors
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$grey-color: #f6f6f6;
$white-color: #fff;

//Width
$wrapper: 1440px;

//Buttons
$btn1-color: linear-gradient($secondary, $primary);
$btn1-shadow: 0px 5px 15px 0px darken($grey-color, 20);
$btn1-shadow-hover: 0px 5px 15px 0px darken($grey-color, 35);
$btn-padding: 15px 30px;

//Animations
$card-delay: 0.3s;
$spiner-bg-bk: rgba(10, 10, 10, 0.60);