@media screen and (max-width: 1024px) {
  .home {
    .card {
      flex: 1 0 33%;
    }
  }

  .menu {
    .cards {
      margin-right: 0;
      margin-left: 0;
      flex-flow: column;

      > .card {
        margin-bottom: 15px;
        flex: 1 0 33%;

        //hgroup {
        //  display: grid;
        //}
      }
    }
  }
}

@media screen and (max-width: 768px) {
  aside .select {
    flex-flow: column;
    flex-direction: column;
  }

  .cards {
    margin-right: 0;
    margin-left: 0;
    flex-flow: column;

    > .card {
      margin-bottom: 15px;
      flex: 1 0 33%;

      //hgroup {
      //  display: grid;
      //}
    }
  }
}


@media all and (max-width: 576px) {
  header {
    flex-flow: column;

    .logo {
      flex: 0 0 100%;
      padding: 15px;
      text-align: center;

      img {
        width: 60%;
        object-fit: cover;
      }
    }

    .header-left {
      width: 100%;
    }

    .search-location {
      text-align: center;
      flex-direction: row;
      justify-content: center;
      padding: 5px;
      margin-bottom: 0;
    }

    .cover-img {
      z-index: -1;
    }
  }

  .cards {
    margin-right: 0;
    margin-left: 0;
    flex-flow: column;

    > .card {
      margin-bottom: 15px;
      flex: 1 0 0%;
    }
  }

  .menu {
    main {
      border-top-left-radius: 35px;
      border-top-right-radius: 35px;
      z-index: 999;
      margin-top: -50px;

      h1.shrikhand {
        padding: 30px 10px 20px 15px;
        font-size: 1.5rem;
      }

      .cards {
        .card {
          margin: 10px 0;
          border-radius: 15px;
          cursor: pointer;
          display: flex;
          flex-direction: row;

          //hgroup {
          //  display: grid;
          //}
        }
      }
    }
  }

  aside {
    .select {
      display: flex;
      flex-flow: column;
      flex-direction: column;
      padding: 15px;
      position: relative;

    }

    .step-button {
      flex: 0 0 100%;
      margin-right: 0;
      margin-left: 0;
    }
  }

  footer {
    text-align: left;

    .logo {
      width: 150px;
      img {
        max-width: 150px;
      }
    }
  }
}