html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 16px;
  vertical-align: baseline;
  text-decoration: none;
  outline-style: none; }

*:focus, *:visited, *:focus-within, *:focus-visible, *:hover {
  outline-style: none;
  box-shadow: none;
  border-color: transparent; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

ol,
ul {
  list-style: none;
  padding: 0; }

strong {
  font-size: 19px;
  padding-right: 15px;
  font-weight: bold; }

*,
::after,
::before {
  box-sizing: border-box; }

/* Base */
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  text-align: left;
  background-color: white;
  color: #333; }

a {
  color: #333; }
  a:visited {
    color: inherit; }

.bg-grey {
  background-color: #f6f6f6; }

.full-width {
  width: 100%; }

.button1 {
  display: inline-block;
  padding: 15px 30px;
  margin: 0 0.3em 0.3em 0;
  border-radius: 25px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s;
  background: linear-gradient(#ff79da, #9356dc);
  color: #fff;
  font-weight: bold;
  box-shadow: 2px 2px 10px 2px #e0e0e0;
  cursor: pointer;
  border: none; }
  .button1:hover {
    box-shadow: 0px 5px 15px 0px #9d9d9d;
    background: linear-gradient(#ff93e1, #a16be0); }

a.button1 {
  color: #fff; }

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1; }
  h1.shrikhand {
    font-family: Shrikhand, sans-serif;
    padding: 20px 0 20px 20px;
    font-weight: normal; }

h2 {
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
  line-height: 1.2; }

h3 {
  font-size: 0.875rem;
  font-weight: bold; }

header {
  display: flex;
  max-width: 1440px;
  margin: auto;
  flex-flow: wrap;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 10px; }
  header .header-left {
    width: 375px; }
  header .search-location {
    display: flex;
    background-color: #eaeaea;
    margin-bottom: 20px;
    border-top: 2px solid #e0e0e0; }
    header .search-location .icon-wrapper {
      padding: 8px 10px; }
    header .search-location .input-field {
      flex: 1 0 0%; }
      header .search-location .input-field input {
        border: none;
        background-color: transparent;
        padding: 15px 10px;
        width: 100%; }
        header .search-location .input-field input[type="text"]::placeholder {
          font-size: 1rem;
          font-weight: bold;
          color: #333333; }
  header .back-btn {
    position: absolute;
    left: 20px;
    top: 30px;
    display: block; }
  header .cover-img {
    height: 270px;
    width: 100%;
    z-index: -1; }
    header .cover-img img {
      height: 100%;
      width: 100%;
      object-fit: cover; }

main {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap; }

.menu main {
  z-index: 999;
  margin-top: -40px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px; }

.reserve {
  text-align: center;
  padding: 30px 10px;
  flex: 0 0 100%;
  margin: 0 -15px; }
  .reserve h1 {
    margin-bottom: 15px;
    padding: 0 50px; }
  .reserve h2 {
    color: #888;
    font-weight: normal;
    font-size: 1.125rem; }
  .reserve hgroup {
    margin-bottom: 35px; }
  .reserve .button1 {
    margin-bottom: 30px; }

aside {
  padding: 30px 10px;
  flex: 0 0 100%; }
  aside h1 {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 5px; }
  aside .select {
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
    padding: 15px;
    position: relative;
    align-content: space-between;
    width: 100%; }
  aside .step-button {
    margin-bottom: 20px;
    padding: 25px 15px;
    background-color: #f6f6f6;
    flex: 1 0 auto;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 30px;
    box-shadow: 0px 5px 15px 0px #c3c3c3;
    position: relative; }
    aside .step-button .circle-number {
      background-color: #9356dc;
      display: block;
      position: absolute;
      width: 25px;
      height: 25px;
      text-align: center;
      border-radius: 100%;
      color: white;
      font-weight: bold;
      left: -12px;
      line-height: 1.67; }
    aside .step-button .icon {
      margin: 0 15px;
      min-width: 30px;
      display: inline-block; }
      aside .step-button .icon i {
        font-size: 20px; }
    aside .step-button .link-text {
      font-weight: bold; }
    aside .step-button:hover {
      background-color: #f2eafb;
      box-shadow: 2px 2px 10px 2px #e4d5f6; }
      aside .step-button:hover .icon {
        color: #9356dc; }

.home main > section {
  flex: 1 0 0%; }

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding: 15px;
  height: 100%; }
  .cards h1 {
    margin: 15px 0 15px 15px;
    width: 100%; }
  .cards .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: white;
    box-shadow: 2px 2px 10px 2px #e0e0e0;
    flex: 1 0 25%;
    margin: 15px; }
    .cards .card.card-img {
      border-radius: 15px; }
      .cards .card.card-img .card-img-header {
        position: relative;
        max-height: 200px; }
        .cards .card.card-img .card-img-header .img-btn-left {
          position: absolute;
          z-index: 999;
          background-color: #99e2d0;
          right: 10px;
          top: 10px;
          padding: 3px 10px;
          color: #2c9c81;
          font-weight: bold; }
      .cards .card.card-img img {
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        max-height: 200px;
        object-fit: cover;
        width: 100%; }
      .cards .card.card-img .card-content {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        padding: 10px;
        width: 100%; }
        .cards .card.card-img .card-content hgroup {
          flex: 0 0 85%; }
    .cards .card h2 {
      font-weight: bold; }
    .cards .card h3 {
      font-weight: normal; }

.home .card {
  flex: 1 0 0%; }

.menu .restaurant-title {
  width: 100%;
  position: relative; }
  .menu .restaurant-title .like {
    position: absolute;
    right: 30px;
    top: 30px; }
.menu .cards {
  background-color: transparent;
  flex-flow: row wrap;
  margin-right: 0;
  margin-left: 0; }
  .menu .cards h2.sub-title {
    font-size: 1rem;
    font-weight: normal;
    width: 100%; }
    .menu .cards h2.sub-title::after {
      border-bottom: 2px solid #99e2d0;
      content: "";
      display: block;
      width: 40px;
      padding-top: 3px; }
  .menu .cards .card {
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow: hidden; }
    .menu .cards .card hgroup {
      padding: 10px;
      flex: 1;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
    .menu .cards .card h2 {
      font-size: 1.125rem;
      margin: 0 0 5px 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
    .menu .cards .card h3 {
      font-size: 1rem;
      font-weight: normal;
      color: gray;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
    .menu .cards .card .caption-check-box {
      position: relative;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      display: none; }
      .menu .cards .card .caption-check-box i {
        font-size: 24px;
        color: #fff;
        transform: rotate(360deg); }
    .menu .cards .card .price {
      font-weight: bold;
      font-size: 1.125rem;
      text-align: right;
      padding-right: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
.menu .order {
  text-align: center;
  margin-bottom: 20px; }

footer {
  padding: 20px;
  background-color: #333333;
  text-align: center; }
  footer #footer {
    max-width: 1680px;
    margin: auto; }
  footer .logo img {
    filter: invert(1); }
  footer .col-3 {
    display: flex;
    flex-direction: column; }
  footer .one {
    flex: 1 0 50%; }
  footer .footer-icon i {
    min-width: 30px; }
  footer a {
    color: #fff !important; }

@keyframes check-box {
  0% {
    transform: rotate(-90deg); }
  40% {
    transform: rotate(-55deg); }
  70% {
    transform: rotate(-30deg); }
  100% {
    transform: rotate(5deg); } }
@keyframes caption-check-box {
  0% {
    opacity: 0.4;
    transform: translate(15px, 0px); }
  40% {
    opacity: 0.6;
    transform: translate(10px, 0px); }
  70% {
    opacity: 0.8;
    transform: translate(6px, 0px); }
  100% {
    opacity: 1;
    transform: translate(1px, 0px); } }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes loadspinner {
  100% {
    opacity: 0;
    z-index: -10; } }
@-webkit-keyframes spinner {
  0% {
    transform: rotate(0deg);
    background: #fface8; }
  50% {
    transform: rotate(180deg);
    background: #ff79da; }
  100% {
    transform: rotate(360deg);
    background: #fface8; } }
.menu main .cards .card:hover hgroup {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }
.menu main .cards .card:hover .price {
  min-width: 50px; }
.menu main .cards .card:hover .caption-check-box {
  display: block;
  flex: 0 0 15%;
  background-color: #99e2d0;
  animation: caption-check-box ease 0.3s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
  overflow: hidden; }
  .menu main .cards .card:hover .caption-check-box i {
    position: absolute;
    top: 30%;
    left: 30%;
    animation-iteration-count: 1;
    animation: check-box ease 0.25s; }

.like {
  position: relative; }
  .like .hover-icon {
    position: absolute;
    left: 0;
    opacity: 0; }
  .like i {
    font-size: 24px;
    color: #888888;
    left: 50%; }
  .like:hover {
    overflow: hidden;
    cursor: pointer; }
    .like:hover .default-icon {
      opacity: 0;
      transition: all 0.5s 0s ease; }
    .like:hover .hover-icon {
      opacity: 1;
      transition: all 0.5s 0s ease;
      color: #9356dc;
      z-index: 999; }

.fade-1 {
  animation: fadein 0.3s; }

.fade-2 {
  animation: fadein 0.6s; }

.fade-3 {
  animation: fadein 0.9s; }

.fade-4 {
  animation: fadein 1.2s; }

.fade-5 {
  animation: fadein 1.5s; }

.fade-6 {
  animation: fadein 1.8s; }

.fade-7 {
  animation: fadein 2.1s; }

.fade-8 {
  animation: fadein 2.4s; }

.fade-9 {
  animation: fadein 2.7s; }

.fade-10 {
  animation: fadein 3s; }

.fade-11 {
  animation: fadein 3.3s; }

.fade-12 {
  animation: fadein 3.6s; }

.fade-13 {
  animation: fadein 3.9s; }

.fade-14 {
  animation: fadein 4.2s; }

.fade-15 {
  animation: fadein 4.5s; }

.loadspinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background-color: rgba(10, 10, 10, 0.6);
  animation: loadspinner 2s;
  animation-delay: 1s;
  animation-fill-mode: both;
  z-index: 999; }
  .loadspinner:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle; }
  .loadspinner .spinner-wrapper {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 5px solid #fff;
    padding: 10px; }
    .loadspinner .spinner-wrapper .spinner-cover {
      background: #fff;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: relative;
      z-index: 2; }
    .loadspinner .spinner-wrapper .spinner-bar {
      background: #ff79da;
      width: 50%;
      height: 50%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 100% 0 0 0;
      -webkit-animation: spinner 2s linear infinite;
      transform-origin: 100% 100%;
      animation: spinner 2s linear infinite; }

/*# sourceMappingURL=style.css.map */
